@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

h1 {
  font-family: Sansation, sans-serif;
  color: white;
  font-size: 48px;
  text-align: center;
  margin: 24px 0 0 0 ;
}

img {
  max-width: 50px;
  margin-bottom: 24px;
}

.grid-and-slider{
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.grid-container {
  border: 25px solid white;
  border-radius: 20px;
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

input {
  width: 275px;
}

p {
  font-family: Sansation, sans-serif;
  color: white;
  font-size: 12px;
  text-align: center;
}

.grid-container div {
  box-sizing: border-box;
  border: 1px solid black;
}

