html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.grid-container {
  border: 10px solid black;
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.grid-container div {
  box-sizing: border-box;
  border: 1px solid black;
}
